@font-face {
  font-family: 'spotifyBold';
  src: url('/fonts/Gotham-Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'spotifyNormal';
  src: url('/fonts/Gotham-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #94949494;
  border: 0px solid #121212; 
}

::-webkit-scrollbar-thumb:hover {
  background: #949494c0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'spotifyNormal', sans-serif;
  background-color: black;
  color: white;
}

.super-container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 280px 1fr 23vw;
  grid-template-rows: 64px auto 70px;
  column-gap: 8px;
}

.player-header {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 1;
  color: white;
}

.player-left-aside {
  color: white;
}

.player-right-aside {
  color: white;
}

.player-main {
  color: white;
}

.track-player {
  grid-column: 1/-1;
  color: white;
}

.player-main-container {
  border-radius: 10px;
  overflow: hidden;
}

.player-main {
  background-color: #121212;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}