* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: black;
  color: white;
}

.super-container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 280px 1fr 23vw;
  grid-template-rows: 64px auto 70px;
  column-gap: 8px;
}

.player-header {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 1;
  color: white;
}

.player-left-aside {
  color: white;
}

.player-right-aside {
  color: white;
}

.player-main {
  color: white;
}

.track-player {
  grid-column: 1/-1;
  color: white;
}

.playerMain{
  border-radius: 10px;
  overflow: hidden;
}